HTTP/1.1 200 OK
Date: Wed, 09 Oct 2013 15:42:51 GMT
Server: Microsoft-IIS/6.0
X-Powered-By: ASP.NET
pragma: no-cache
cache-control: private
Content-Length: 24677
Content-Type: text/html
Expires: Tue, 08 Oct 2013 15:42:50 GMT
Set-Cookie: ASPSESSIONIDSQQRDQQR=MGMLNIICONEOIIHAHFMPIGAH; path=/
Cache-control: no-cache


<!--<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no">




<!--<meta http-equiv="Content-Type" content="text/html; charset=gb2312" > 
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no"> -->
<meta http-equiv="keywords" content="手机请柬,电子请柬,Flash请柬,喜帖,二维码请柬,微信请柬" />
<meta http-equiv="description" content="免费获得电子请柬,免费获得手机请柬,免费体验手机请柬,免费下载电子请柬,免费制作电子请柬,免费制作Flash电子请柬样板,免费获得二维码请柬" />
<!--<bgsound src=http://zl.hwpan.com/u1646556/music/bs.mp3 loop="-1">-->
<script type="text/javascript">  
var browser={
versions:function(){
var u = navigator.userAgent, app = navigator.appVersion;
return{
trident: u.indexOf('Trident')>-1, 
presto: u.indexOf('Presto')>-1, 
webKit: u.indexOf('AppleWebKit')>-1,  
gecko: u.indexOf('Gecko')>-1&& u.indexOf('KHTML')==-1, 
mobile:!!u.match(/AppleWebKit.*Mobile.*/)||!!u.match(/AppleWebKit/), 
ios:!!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), 
android: u.indexOf('Android')>-1|| u.indexOf('Linux')>-1, 
iPhone: u.indexOf('iPhone')>-1|| u.indexOf('Mac')>-1,  
iPad: u.indexOf('iPad')>-1, 
webApp: u.indexOf('Safari')==-1  
};}()}
if(!browser.versions.ios&&!browser.versions.mobie&&!browser.versions.android&&!browser.versions.iPhon&&!browser.versions.iPad){
	self.location='error.html'
}
</script>
<title>无忌和敏敏要结婚了</title>
<link href="css/3/custom.css" type="text/css" rel="stylesheet" />
<link href="css/3/style.css" type="text/css" rel="stylesheet" />
<link href="../styles.css" type="text/css" rel="stylesheet" />
<link href="../photoswipe.css" type="text/css" rel="stylesheet" />
<!--<link class="fontcss" href="http://tw.youvivid.com:8080/Fonts/getcss" type="text/css" rel="stylesheet"  />-->
<script src="js/jquery-latest.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=16268926682265790cca9062b1be7a79"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.18.full.min.js"></script>
<script type="text/javascript" src="../lib/klass.min.js"></script>
<script type="text/javascript" src="../code.photoswipe.jquery-3.0.5.min.js"></script>
<script type="text/javascript">
		(function(window, $, PhotoSwipe){
			$(document).ready(function(){
				var options = {};
				$("#Gallery a").photoSwipe(options);
			});
		}(window, window.jQuery, window.Code.PhotoSwipe));
	</script>
<script type="text/javascript">
var bReloadWebFontOnce = 1;
$(document).ready(function() {
	$("#accordion").accordion({ autoHeight: false },{ collapsible: true,active: false } );
	$("#accordion").bind('accordionchange', function(event, ui) { 
			if ($(ui.newHeader).offset() != null){
            	$('html, body').animate({scrollTop: $(ui.newHeader).offset().top} );
			}	
	});

			$("#accordion").bind('accordionchangestart', function(event, ui) {
				if (ui.newContent.attr('id') == 'invite_detail_content7166' && bReloadWebFontOnce==1  )
				{
					//alert("reloadwebfont");
					//$("#invite_detail_editor7166").hide();	
					reloadWebFont();
					bReloadWebFontOnce = 0;
					//$("#invite_detail_editor7166").show();	
				}
			});
			

			$("#accordion").bind('accordionchange', function(event, ui) {
			 // ui.newHeader // jQuery object, activated header
			 // ui.oldHeader // jQuery object, previous header
			 // ui.newContent // jQuery object, activated content
			 // ui.oldContent // jQuery object, previous content
			 //  alert($(ui.newContent).attr("id") + " was opened, " + $(ui.oldContent).attr("id") + " was closed");
			 //   console.log(ui.newHeader.attr('id'));
				if (ui.newContent.attr('id') == 'invite_detail_content7169' && !map7169 && $("#invite_detail_mapimgurl7169").val() == '' )
				{
					//alert("initialize7169");
					initialize7169();
				}
				
				
			});
				
			



});

</script>
<style>
  select { font-family:  微软正黑体, verdana, tahoma, arial; font-size: 12pt}
  .input { font-family:  微软正黑体, verdana, tahoma, arial; font-size: 12pt;}
  textarea { font-family:  微软正黑体, verdana, tahoma, arial; font-size: 12pt}
  td { font-family:  微软正黑体, verdana, tahoma, arial; font-size: 12pt}
</style>


</head>
<body >

 


<div id="outter" >
	<div class="outter-main-tr"><div class="outter-main-tl"><div class="outter-main-tm"></div></div></div>
    <div class="outter-main-mr"><div class="outter-main-ml">

        <div class="ui-widget-header ui-corner-all"  >
            <div id="inner">
                <div class="inner-main-tr"><div class="inner-main-tl"><div class="inner-main-tm">
                    <div id="main-title">
                        <div class="main-title-tr"><div class="main-title-tl"><div class="main-title-tm">
                        </div></div></div>
                        <div class="main-title-mr"><div class="main-title-ml">
                    
                            <div class="main-title-mm">
                                <div id="maintitlehtml" ><span style='text-decoration: none; font-style: normal; font-size: 20px; font-weight: normal; '>无忌和敏敏要结婚了</span></div>
                            </div>
                    
                        </div>
                        </div>
                        <div class="main-title-br"><div class="main-title-bl"><div class="main-title-bm">
                        </div></div></div>
                    </div>
                </div></div></div>
                <div class="inner-main-mr">
                	<div id="img_decoration1"></div>
                    <div id="img_decoration2"></div>
                    <div class="inner-main-ml">
                        <div class="inner-main-mm">
<!-- 大圖 -->  
                            <img id="invite_webimg" src="upLoadPic/wedlaa_fmb_20130725103753445344.jpg" width="100%" alt="Mobile Wedding Invitations">
                       	  <div id="img_videobutton_placeholder" style="position:relative;"> 
                        	<div id="img_videobutton" style="" ></div>
                       		</div>
                        </div>
               	  </div>
                </div>
              <div class="inner-main-br">
                <div id="img_decoration3"></div>
                <div class="inner-main-bl"><div class="inner-main-bm">

                    <div id="sub-title">
                        <div class="sub-title-tr"><div class="sub-title-tl"><div class="sub-title-tm">
                        </div></div></div>
                        <div class="sub-title-mr"><div class="sub-title-ml">
                    
                            <div class="sub-title-mm">
			                    <div id="subtitlehtml" style="text-align:center; margin-top:3px; margin-bottom:3px; "><span style='font-weight: normal; font-size: 18px; '>2013年10月10号</span></div>
                            </div>
                    
                        </div>
                        </div>
                        <div class="sub-title-br"><div class="sub-title-bl"><div class="sub-title-bm">
                        </div></div></div>
                    </div>


                </div></div></div>
            </div>
        
        </div>

    </div></div>
	<div class="outter-main-br"><div class="outter-main-bl"><div class="outter-main-bm"></div></div></div>
</div>




  

<div id="accordion"> 




<!--<h3 style="display:" id="invite_detail_title7143" >-->
<h3 style="display:" id="invite_detail_title7092" >
    
 		<div name="button1" id="button1" class="button">
            <div class="button-tr"><div class="button-tl"><div class="button-tm"></div></div></div>
            <div class="button-mr">
            <div class="button-ml">
			<div class="button-mm">
    			<a href="#"><img class="iconimage" alt="css/3/images/1.png" src="css/3/images/1.png"  border="0" align="absmiddle">&nbsp;<span id="invite_detail_name7167" >爱的邀约</span></a>
            </div>
            </div>
            </div>
            <div class="button-br"><div class="button-bl"><div class="button-bm"></div></div></div>
		</div>
	</h3>
	<div class="accordion" id="invite_detail_content7167" style="display: none;" >
    <div id="detail7167" class="detail">
        <div class="detail-tr"><div class="detail-tl"><div class="detail-tm"></div></div></div>
        <div class="detail-mr">
        <div class="detail-ml">
        <div class="detail-mm">
<!--<div id="slideshow" style="width:300px; height:300px;"></div>-->
 <div class="invitext">
              <p class="ip2"><img src="16052978.png" width="80%" height="30" alt="" /> </p>
             <br />
              <p class="ip3">谨定于公历<span>2013年10月10号</span></p>
              <p class="ip3">新郎：<span class="">无忌</span> 新娘：<span>敏敏</span></p>
              <p class="ip4">举行结婚典礼 敬备喜宴</p>
              <p class="ip6">时间：<span>中午十二时整入席</span></p>
              <p class="ip6">地点：<span>东莞山庄</span></p>
  </div>                             
	</div>
        </div>
        </div>
        </div>
        <div class="detail-br"><div class="detail-bl"><div class="detail-bm"></div></div></div>
    </div>
    



<h3 style="display:" id="invite_detail_title7093" >
    
 		<div name="button2" id="button2" class="button">
            <div class="button-tr"><div class="button-tl"><div class="button-tm"></div></div></div>
            <div class="button-mr">
            <div class="button-ml">
			<div class="button-mm">
    			<a href="#"><img class="iconimage" alt="css/3/images/2.png" src="css/3/images/2.png"  border="0" align="absmiddle">&nbsp;<span id="invite_detail_name7167" >婚纱相册</span></a>            </div>
            </div>
            </div>
            <div class="button-br"><div class="button-bl"><div class="button-bm"></div></div></div>
		</div>
	</h3>
	<div class="accordion" id="invite_detail_content7168" style="display: none; " >
    <div id="detail7168" class="detail">
        <div class="detail-tr"><div class="detail-tl"><div class="detail-tm"></div></div></div>
        <div class="detail-mr">
        <div class="detail-ml">
        <div class="detail-mm">
<!--<div id="slideshow" style="width:300px; height:300px;"></div>-->



 <ul id="Gallery" class="gallery">
		


 <!--<li><a href="uploads/image/f0904273C82W2683.jpg" rel="external"><img src="uploads/image/f0904273C82W2683.jpg" alt="" /></a></li>-->

	<li><a href="upLoadPic/wedlaa_photosbig_20130806115847304730.jpg" rel="external"><img src="upLoadPic/wedlaa_photos_20130806115847304730.jpg" alt=" "/></a></li><li><a href="upLoadPic/wedlaa_photosbig_20130806115836523652.jpg" rel="external"><img src="upLoadPic/wedlaa_photos_20130806115836523652.jpg" alt=" "/></a></li><li><a href="upLoadPic/wedlaa_photosbig_20130806115834093409.jpg" rel="external"><img src="upLoadPic/wedlaa_photos_20130806115834093409.jpg" alt=" "/></a></li><li><a href="upLoadPic/wedlaa_photosbig_20130806115877107710.jpg" rel="external"><img src="upLoadPic/wedlaa_photos_20130806115877107710.jpg" alt=" "/></a></li><li><a href="upLoadPic/wedlaa_photosbig_20130806115824532453.jpg" rel="external"><img src="upLoadPic/wedlaa_photos_20130806115824532453.jpg" alt=" "/></a></li><li><a href="upLoadPic/wedlaa_photosbig_20130806115719451945.jpg" rel="external"><img src="upLoadPic/wedlaa_photos_20130806115719451945.jpg" alt=" "/></a></li>	
	</ul>
                               
	</div>
        </div>
        </div>
        </div>
        <div class="detail-br"><div class="detail-bl"><div class="detail-bm"></div></div></div>
    </div>
<h3 style="display:" id="invite_detail_title7094" >
    
 		<div name="button3" id="button3" class="button">
            <div class="button-tr"><div class="button-tl"><div class="button-tm"></div></div></div>
            <div class="button-mr">
            <div class="button-ml">
			<div class="button-mm">
    			<a href="#"><img class="iconimage" alt="css/3/images/3.png" src="css/3/images/3.png"  border="0" align="absmiddle">&nbsp;<span id="invite_detail_name7167" >婚宴回函</span></a>            </div>
            </div>
            </div>
            <div class="button-br"><div class="button-bl"><div class="button-bm"></div></div></div>

		</div>
	</h3>
	<div class="accordion" id="invite_detail_content7168" style="display: none; " >
    <div id="detail7168" class="detail">
        <div class="detail-tr"><div class="detail-tl"><div class="detail-tm"></div></div></div>
        <div class="detail-mr">
        <div class="detail-ml">
        <div class="detail-mm">
<!--<div id="slideshow" style="width:300px; height:300px;"></div>-->
<script language="javascript">
<!--
function FormCheck()
{
if (document.form1.tName.value=="")
	{
	  alert("对不起，名字不能为空")
	  document.form1.tName.focus();
	  return (false);
	 }
if (document.form1.renshu.value=="")
	{
	  alert("对不起，请选择")
	  document.form1.renshu.focus();
	  return (false);
	 }
//if (document.form1.zhufu.value=="")
//	{
//	  alert("对不起，祝福不能为空")
//	  document.form1.zhufu.focus();
//	  return (false);
//	 } 
}

-->
</script>


   <form name="form1" id="form1" action="mobile.asp?wedID=style3" method="post" style="display:block;">
        <table id="rsvptable" width="100%" cellpadding="3" cellspacing="1" border="0" class="n4" style="line-height: 20px;">
     
       <tr id="ta12471" style=" margin-top:10px; display: block">
          <td width="100%" height="50" align="left">
          <span >感谢您在百忙之中，抽出宝贵时间来见证我们的幸福。为了方便统整婚宴资料，请您花几分钟填写以下内容，我们的婚宴会因您的协助更加美好。</span><br/>     </td></tr>  
         <tr id="ta12470" style=" margin-top:10px; display: block">
          <td width="100%" height="50" align="left">
         <span >1.您的姓名</span><br/>
<div style="margin-left:10px" >
   <input type="hidden" name="wedID"  id="wedID" value="style3" >
    <input type="text" name="tName"  id="tName" value="">
</div>     </td></tr>   
         <tr id="ta12471" style=" margin-top:10px; display: block">
          <td width="100%" height="50" align="left">
          <span >2.您会来参与我们的婚宴吗?</span><br/>
<div style="margin-left:10px" >
   <div id="s37738" style="valign: middle;">
     <select name="renshu" id="renshu"  type="text">
       <option value="" >请选择</option>
       <option value="0" >抱歉，无法参加</option>
       <option value="1" >1 人参加</option>
       <option value="2" >2 人参加</option>
       <option value="3" >3 人参加</option>
       <option value="4" >4 人参加</option>
       <option value="5" >5 人参加</option>
       <option value="6" >6 人参加</option>
       <option value="7" >7 人参加</option>
       <option value="8" >8 人参加</option>
       <option value="9" >9 人参加</option>
     </select>
   </div> 
</div></td></tr>   
     </td></tr>   
         <tr id="ta12478" style=" margin-top:10px; display: block">
          <td width="100%" height="50" align="left">
 <span >3.请留下您对我们的祝福</span><br/>
<div style="margin-left:10px" >
    <textarea name="zhufu" cols="25" rows="5" id="zhufu"></textarea>
</div>     </td></tr>    
     <tr><td width="100%" height="50" align="center" valign="middle">
<input  class="input"  type="submit" value="送 出"  onClick="javascript:return FormCheck();" >
     </td></tr>
    </table>

</table>
</form>               
	</div>
        </div>
        </div>
        </div>
        <div class="detail-br"><div class="detail-bl"><div class="detail-bm"></div></div></div>
    </div>
    


<h3 style="display:" id="invite_detail_title7095" >
    
 		<div name="button4" id="button4" class="button">
            <div class="button-tr"><div class="button-tl"><div class="button-tm"></div></div></div>
            <div class="button-mr">
            <div class="button-ml">
			<div class="button-mm">
    			<a href="#"><img class="iconimage" alt="css/3/images/4.png" src="css/3/images/4.png"  border="0" align="absmiddle">&nbsp;<span id="invite_detail_name7095" >婚宴地图</span></a></div>
            </div>
            </div>
            <div class="button-br"><div class="button-bl"><div class="button-bm"></div></div></div>
		</div>
	</h3>
     
<div class="accordion" id="invite_detail_content7095" style="display: none; " >
    <div id="detail7095" class="detail">
        <div class="detail-tr"><div class="detail-tl"><div class="detail-tm"></div></div></div>
        <div class="detail-mr">
        <div class="detail-ml">
        <div class="detail-mm"  > 
        
         <input type="hidden" name="invite_detail_mapimgurl7095" id="invite_detail_mapimgurl7169" value="" width="100%">
         <img id="invite_detail_mapimg7169" style="width:100%; border:thin; border-style:solid; border-color:#999;" src="" width="100%"/>
        <div id="map_canvas7169" style="border:thin; text-align:center; border-style:solid; border-color:#999; margin-bottom:5px; width:100%; height:300px;"></div>     
    <div id="map_desc7169">东莞山庄 <br />地址：南城区莞太路段11号<br /> 电话：(0769)22300000<br /></div>
	</div>
  	 <script language="javascript">
    $(document).ready(function() { 
		//init
		if ($("#invite_detail_mapimgurl7169").val() == '') {
			$("#invite_detail_mapimg7169").hide();
			$("#map_canvas7169").show();
		} else {
			$("#invite_detail_mapimg7169").show();
			$("#map_canvas7169").hide();
		}

		
    });		
    </script>
  
<script type="text/javascript">
var map = new BMap.Map("map_canvas7169");//在指定的容器内创建地图实例
map.setDefaultCursor("map_canvas7169");//设置地图默认的鼠标指针样式
map.enableScrollWheelZoom();//启用滚轮放大缩小，默认禁用。
map.centerAndZoom(new BMap.Point(111.961627, 21.868213), 17);
	map.addControl(new BMap.NavigationControl({
		anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_SMALL 
	}));
map.panBy(120,150)
	
	
	var pt = new BMap.Point(111.961627, 21.868213);
	var myIcon = new BMap.Icon("markers.gif", new BMap.Size(25,21));
	var marker2 = new BMap.Marker(pt,{
		icon:myIcon
	});// 创建标注
	map.addOverlay(marker2);// 将标注添加到地图中
	
	


</script>
        </div>
        </div>
        </div>
        <div class="detail-br"><div class="detail-bl"><div class="detail-bm"></div></div></div>
    </div>
    

  
  
  
    
      
<h3 style="display:" id="invite_detail_title8096" >
    
 		<div name="button5" id="button5" class="button">
            <div class="button-tr"><div class="button-tl"><div class="button-tm"></div></div></div>
            <div class="button-mr">
            <div class="button-ml">
			<div class="button-mm">
   			  <a href="#"><img class="iconimage" alt="css/3/images/5.png" src="css/3/images/5.png"  border="0" align="absmiddle">&nbsp;<span id="invite_detail_name8167" >爱情故事</span></a>            </div>
            </div>
            </div>
            <div class="button-br"><div class="button-bl"><div class="button-bm"></div></div></div>
		</div>
	</h3>
	<div class="accordion" id="invite_detail_content8096" style="display: none; ">
    <div id="detail8096" class="detail">
        <div class="detail-tr"><div class="detail-tl"><div class="detail-tm"></div></div></div>
        <div class="detail-mr">
        <div class="detail-ml">
        <div class="detail-mm">

<div class="invitext">

<div id="remindtitle"><span><font size="4">从相遇的那一刻，每一天，路不再是路，而是相伴；从相知的那一瞬，每一秒，生活不再是生活，而是两个个体的融合；当水遇上火焰，平淡的日子也因爱逆袭，当飞鱼爱上草原，每一次心跳都变得如此给力！今天，他们要结婚了，希望能与您一同分享这爱的美好旅程。</font></span></div>
</div>
       
	</div>
        </div>
        </div>
        </div>
        <div class="detail-br"><div class="detail-bl"><div class="detail-bm"></div></div></div>
    </div>
     
 <h3 style="display:" id="invite_detail_title9097" >
    
 		<div name="button6" id="button6" class="button">
            <div class="button-tr"><div class="button-tl"><div class="button-tm"></div></div></div>
            <div class="button-mr">
            <div class="button-ml">
			<div class="button-mm">
    			<a href="#"><img class="iconimage" alt="css/3/images/6.png" src="css/3/images/6.png"  border="0" align="absmiddle">&nbsp;<span id="invite_detail_name7167" >婚礼提醒</span></a>            </div>
            </div>
            </div>
            <div class="button-br"><div class="button-bl"><div class="button-bm"></div></div></div>
		</div>
	</h3>
    
    
    
    
    
	<div class="accordion" id="invite_detail_content7171" style="display: none; ">
    <div id="detail7171" class="detail">
        <div class="detail-tr"><div class="detail-tl"><div class="detail-tm"></div></div></div>
        <div class="detail-mr">
        <div class="detail-ml">
        <div class="detail-mm">
		
             <div style="margin-top:5px; margin-bottom:15px">
                <div style="font-size:14px; margin-bottom:5px">距婚礼开始还有:</div>
                <div style="width:100%" align="center">
                  <div id="_lefttime" style="border:1px solid #777; width:90%; text-align:center; background-color:#FFC; font-size:22px; color:#777;"> </div>

<script language="JavaScript">
function showtime()
{
 var endtime=new Date("2013/11/11 12:30");
 var nowtime = new Date();
 var leftsecond=parseInt((endtime.getTime()-nowtime.getTime())/1000);
 if(leftsecond<0){leftsecond=0;}
 _d=parseInt(leftsecond/3600/24);
 _h=parseInt((leftsecond/3600)%24);
 _m=parseInt((leftsecond/60)%24);
 _s=parseInt(leftsecond%60);
 _all = _d+"天"+_h+"小时"+_m+"分"+_s+"秒";
//_all = _all.replace(/([0-9]{1})/g,'<img width="16" height="21" src="http://wedlaa.com/m/timer/$1.gif">')

 document.getElementById("_lefttime").innerHTML=_all;
}
showtime()
setInterval(showtime,1000);
</script>
                  
                  
                  
                  
                  <div style="font-size:12px; margin-top:5px"></div>
                </div>
            </div>
            
<script>
	$(function() {
		$('#inviteurl').click(function(){
				if($.browser.msie) this.createTextRange().select();
				else {
					this.selectionStart = 0;
					this.selectionEnd = this.value.length;
				}
		});
	})
</script>

		
	</div>
    
        </div>
        </div>
        </div>
        <div class="detail-br"><div class="detail-bl"><div class="detail-bm"></div></div></div>
    </div>
    
  
  
  
  
  
  
    
</div>

<div id="footer" ><div id="copyright"><div id="copyright-text">本服务由wedlaa.com提供</div></div>

</div>

</div>
   <script type="text/javascript">
                
        $(document).ready(function(){    
           
           if(/i(Phone|P(o|a)d)/.test(navigator.userAgent)){
                $(document).one('touchstart', function (e) {
                var music = document.getElementById("audio_play");
                if (music.paused) { 
                music.play(); 
                } 
                });
            }
        });
        
    </script>
    <script language="javascript" type="text/javascript">
//内容模型
var contentModel = {

    "img_url": "http://wedlaa.com/m/upLoadPic/wedlaa_fmb_20130725103753445344.jpg", 
    "title": "无忌和敏敏要结婚了", 
    "src": "2013年10月10号   中午十二时整入席   东莞山庄   无忌 敏敏诚邀" 
};

</script>
<script language="JavaScript" src="js/share.js" type="text/javascript" ></script>
	 <audio autoplay="autoplay" id="audio_play" loop="loop">
                  <!--source src="http://www.vipaa.com/music/1010467805.mp3" type="audio/mpeg" /-->
				  <source src="upLoadmusic/3.mp3" type="audio/mpeg">
                </audio>
</body>
</html>
 